@import "../../../styles.scss";

*{
    height: 3.1875em;
    min-height: 2.8125em;
}

.form-container{
    height: 10.0725em;
    border-radius: 7px;
}

.input{
    background-color: #E7E7E7;
}

.btn-block{
    width: 14.125em !important;
}